<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!--path:@@@路径设置口+属性-->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x5-fullscreen" content="false">
    <meta name="full-screen" content="no">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=1"/>
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>"/>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>

    <!--path:@@@路径设置口+图标-->
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.iconPath %>"/>
    <link rel="bookmark" type="image/x-icon" href="<%= htmlWebpackPlugin.options.iconPath %>"/>

    <!--path:@@@路径设置口+样式拓展-->
    <style>
        <%= htmlWebpackPlugin.options.style %>
    </style>
</head>
<body>
<!--path:@@@页面区域+主体[#main]-->
<section id="main"></section>
</body>
</html>